name: Check Project Errors

on:
  workflow_dispatch:
  push:
    branches: [ main ]

jobs:
  check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Code
        uses: actions/checkout@v4

      - name: Install JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'

      - name: Install Gradle (without wrapper)
        uses: gradle/gradle-build-action@v2

      - name: Run Gradle Project Check
        run: gradle --info --stacktrace --warning-mode all build
